body {
    font-family: 'SamsungOne', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #2c3e50;
    margin: 0;
}

.calculator {
    background-color: #f3f3f3;
    border-radius: 10px;
    box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.2);
    width: 320px;
    padding: 20px;
}

.display {
    background-color: #34495e;
    color: #ecf0f1;
    font-size: 2.5em;
    text-align: right;
    padding: 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    box-shadow: inset 0px 2px 5px rgba(0, 0, 0, 0.1);
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
}

.btn {
    background-color: #ecf0f1;
    border: none;
    padding: 20px;
    font-size: 1.5em;
    border-radius: 5px;
    transition: all 0.2s ease;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.btn:active {
    transform: scale(0.95);
    background-color: #bdc3c7;
}

.operator {
    background-color: #f39c12;
    color: white;
}

.equal {
    background-color: #e74c3c;
    color: white;
    grid-column: span 2;
}

.zero {
    grid-column: span 2;
}

.btn.operator:active, .btn.equal:active {
    background-color: #d35400;
}
